body {
  font-family: "Abel", Arial, sans-serif;
  font-size: large;
}

h1 {
  font-size: 30px;
  font-family: Orbitron;
  margin-left: 10px;

  a { color: inherit; }
}

p { font-size: large; }
td { vertical-align: top; }

.machine-name {
  font-family: Orbitron;
}

#account {
  margin-left: 25px;
  font-size: medium;
  font-family: "Open Sans", serif;
  text-align: right;
}

#toolbar {
  background-image:-webkit-linear-gradient(top, white, gray);
  background-image:-moz-linear-gradient(top, white, gray);
  background-image:linear-gradient(top, white, gray);

  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  min-height: 60px;
  padding: 10px;
  position: relative;
  width: 100%;

  .search { display: inline-block; margin-right: 60px; }

  h1 {
    display: inline-block;
    font-size: 20pt;
    margin: 0;
    margin-left: 40px;
    position: relative;
    top: 7px;
  }

  a {
    color: black;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;

    &:hover { background: lightGray; }
    &.active { background: white; }
  }
}

#message {
  margin: 10px;
  background: lightGreen;
  border-radius: 5px;
  box-shadow: 0 1px 1px #ccc;
  padding: 0 5px;
  max-width: 600px;
}

.machine-list {
  .icons a, .icons div { padding: 0 10px; cursor: pointer; }
  .icons a:hover { text-decoration: none }
  .machine .name { display:block; min-width: 350px; text-align: right; padding-right: 15px; font-size: 120%; }
  .machine .name input { text-align: right; }
  .machine.protected .protect { color: gray; cursor: default; }
  .machine.protected .name { cursor: default; }

  .machines {
    padding: 10px;
  }

  .machines.list {
    td { padding: 0 10px; }
  }

  .machines.grid {
    .machine { float: left; margin: 10px; width: 270px; }
    .titlebar { position: relative; padding: 1px; width: 270px; }
    .titlebar .title { display: block; width: 183px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
    .buttons { position: absolute; bottom: 0; right: 0; }
    .buttons a { padding-left: 8px; }
    .caption { font-size: small; }
  }
}

.machine-details {
  .big-diagram {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .history {
    td { padding: 0 5px; }
  }
}

.history .legend {
  font-family: serif;

  ins { text-decoration: none; font-weight: bold; font-size: x-large; }
  del { text-decoration: none; font-weight: bold; font-size: x-large; filter: blur(1px); -webkit-filter: blur(0.77px) opacity(75%); }
}

