body {
  margin: 0;
  font-size: normal;
}

h1 {
  font-family: cursive;
  font-size: 30px;
  margin-left: 10px;
}

h1 a { color: inherit; }

.frame {
  margin-left: 60px;
  position: relative;
  width: 900px;
  height: 1000px;
}

.ffmachine {
  background: lightgray;
  position: absolute;
  width: 900px;
  height: 1000px;
  overflow: hidden;

  svg, #loading {
    position: absolute;
    width: 900px;
    height: 1000px;
    top: 0px;
    left: 0px;
  }

  #loading {
    background: rgba(255,255,255,0.25);
    z-index: 10;
  }
}

body .ffmachine {
  .edit-mode-layer, .simulation-mode-layer { display: none; }
}

body.edit-mode .ffmachine {
  .edit-mode-layer { display: block; }
}

body.simulation-mode .ffmachine {
  .simulation-mode-layer { display: block; }
}

.ffmachine svg {
  .terminal-position {
    fill: rgba(0,0,0,0);

    &:hover {
      fill: blue;
      cursor: cell;
    }

    &.active {
      fill: white;
      stroke: white;
      stroke-width: 25px;
      stroke-opacity: 50%;
    }
  }

  .wire {
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    filter: url(#drop-shadow);
    transition: stroke 0.2s;
    -moz-transition: stroke 0.2s;
    -webkit-transition: stroke 0.2s;

    &:hover {
      // stroke: url(#grad1);
      // filter: url(#drop-shadow-2);
    }

    &.dragging {
      // filter: none;
    }

    &.hide {
      display: none;
    }

    &.voltage-negative { stroke: black; }
    &.voltage-ground { stroke: white; }
    &.voltage-float { stroke: gray; }
  }

  .wire-mouse-target {
    cursor: no-drop;
    fill: none;
    stroke: rgba(0, 255, 0, 0);
    stroke-width: 13px;
    stroke-linecap: round;
  }

  .wire-end-target {
    cursor: move;
    fill: rgba(255, 0, 0, 0);
  }

  .trace-layer {
    .start-trace, .end-trace {
      circle {
        transition: fill 0.1s;
        -moz-transition: fill 0.1s;
        -webkit-transition: fill 0.1s;
      }

      &:hover circle {
        stroke-width: 2px;
        stroke: lightBlue;
      }

      &.voltage-negative circle { fill: black; }
      &.voltage-ground circle { fill: white; }
      // &.voltage-float circle { fill: gray; }
    }

    .wire { stroke-opacity: 0.4; }
  }
}

#connected-users {
  font-size: 16px;
  text-align: right;

  h2 {
    margin: 3px;
  }

  ul {
   margin: 0;
   padding: 0;
   list-style: none;
  }
}

#legend {
  text-align: right;

  .negative-voltage, .ground-voltage, .float-voltage {
    padding: 5px 10px;
    margin: 0 0 0 5px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #ccc;
  }

  .negative-voltage { background: black; color: white; }
  .ground-voltage { background: white; }
  .float-voltage { background: gray; }
}

#wireTrace {
  text-align: right;

  path {
    stroke: blue;
    fill: none;
  }
}

