body {
  background: white;
  color: black;
  font-family: cursive;
  font-size: 30px;
  margin: 0;
}

h1 a { color: inherit; }

.frame {
  margin-left: 60px;
  position: relative;
  width: 900px;
  height: 1000px;
}

.ffmachine {
  background: lightgray;
  position: absolute;
  width: 900px;
  height: 1000px;
  overflow: hidden;

  svg, #loading {
    position: absolute;
    width: 900px;
    height: 1000px;
    top: 0px;
    left: 0px;
  }

  #loading {
    background: rgba(255,255,255,0.25);
    z-index: 10;
  }
}

.ffmachine svg {
  &.readonly {
    .pin-targets, .deletion-targets, .wire-end-targets { display: none; }
  }

  .hole {
    &:hover {
      fill: blue;
      cursor: cell;
    }

    &.active {
      fill: white;
      stroke: white;
      stroke-width: 25px;
      stroke-opacity: 50%;
    }
  }

  .wire {
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    filter: url(#drop-shadow);

    &:hover {
      // stroke: url(#grad1);
      // filter: url(#drop-shadow-2);
    }

    &.dragging {
      // filter: none;
    }

    &.hide {
      display: none;
    }
  }

  .wire-mouse-target {
    cursor: no-drop;
    fill: none;
    stroke: rgba(0, 255, 0, 0);
    stroke-width: 15px;
    stroke-linecap: round;
  }

  .wire-start-target, .wire-end-target {
    cursor: move;
    fill: rgba(255, 0, 0, 0);
  }

  .traces {
    display: none;

    .start-trace, .end-trace {
      fill: blue;
      opacity: 0.5;

      &:hover {
        // opacity: 1;
        fill: green;
        stroke: green;
      }

      &.voltage-low { color: red; }
      &.voltage-ground { color: black; }
      &.voltage-float { color: gray; }
    }
  }
}

#connected-users {
  position: absolute;
  top: 70px;
  right: 10px;
  font-family: serif;
  font-size: 14px;
  text-align: right;

  h2 {
    margin: 3px;
  }

  ul {
   margin: 0;
   padding: 0;
   list-style: none;
  }
}
