.machine-list

  include toolbar
    .search
      span Search Machines:
      input(ng-model="searchText", placeholder="machine name")
    a.icon-list(ng-class="{active: layout == 'list'}", ng-click="layout = 'list'")
    a.icon-th(ng-class="{active: layout == 'grid'}", ng-click="layout = 'grid'")

  h1 Flip Flop Machines

  #message(ng-show="message")
    p(ng-bind-html-unsafe=" message")

  table.machines.list(ng-show="layout == 'list'")
    tbody.machine(ng-repeat="machine in machines | objectToList | propertyNot:'deleted_at' | filter:searchText", ng-class="{protected: !machine_editable(machine)}")
      tr
        td.name(title="Click to rename")
          span(ng-show="!edit_title && !machine_editable(machine)") {{machine.name}}
          span(ng-show="!edit_title && machine_editable(machine)", ng-click="edit_title=true", title="Click to edit") {{machine.name}}
          input(ng-show="edit_title", type="text", ng-model="machine.name", ui-keyup="{enter: 'edit_title=false', 27: 'edit_title=false'}", ui-event="{blur: 'edit_title=false'}")

        td.icons
          a.icon-eye-open(ng-href="{{machine_url(machine)}}", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="{{machine_url(machine)}}", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
          //- a.icon-info-sign(ng-click="show_details = !show_details")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          .icon-trash.protect(ng-hide="machine_editable(machine)")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")

        td
          | ({{machine_stats(machine)}})

        td(ng-show="machine.creator")
          | Created by {{machine.creator.email}}

        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")


  .machines.grid(ng-show="layout == 'grid'")
    .machine(ng-repeat="machine in machines | objectToList | propertyNot:'deleted_at' | filter:searchText", ng-class="{protected: !machine_editable(machine)}")
      .titlebar(style="width:100%")
        span.title(ng-show="!edit_title && !machine_editable(machine)") {{machine.name}}
        span.title(ng-show="!edit_title && machine_editable(machine)", ng-click="edit_title=true", title="Click to edit") {{machine.name}}
        input(ng-show="edit_title", type="text", ng-model="machine.name", style="width:100%", ui-keyup="{enter: 'edit_title=false', 27: 'edit_title=false'}", ui-event="{blur: 'edit_title=false'}")
        .buttons(ng-hide="edit_title")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          a.icon-eye-open(ng-href="{{machine_url(machine)}}", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="{{machine_url(machine)}}", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
      a(ng-href="{{machine_url(machine)}}")
        wiring-diagram(wires="{{machine.wiring}}", width="270", height="300")
      .caption
        div(ng-show="machine.creator")
          | Created by {{machine.creator.email}}

        div(ng-show="machine.created_at")
          | Created at {{machine.created_at | date}}

        div(ng-show="machine.modified_at")
          | Modified on {{machine.modified_at | date}}

        ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': 'One viewer.', 'other': '{} viewers.'}")
