#toolbar

  yield

  #account.pull-right.ng-cloak
    button(ng-hide="user", ng-click="login('persona')")
      .icon-signin
      | &nbsp;Sign In
    div
      button(ng-show="user", ng-click="logout()")
        .icon-signout
        | &nbsp;Sign Out
      div(ng-show="user") {{user.email}}

  iframe.pull-right(src="http://ghbtns.com/github-btn.html?user=osteele&repo=ffmachine&size=large&type=fork",
    allowtransparency=true, frameborder=0, scrolling=0, width=80, height=30)

  button.pull-right#info(ng-click="info()")
    span WTF?
