body {
 background: white;
 color: black;
 font-family: cursive;
 font-size: 30px;
}

div.frame {
 margin-left: 60px;
 position: relative;
 width: 900px;
 height: 1000px;
}

div.ffmachine {
 background: lightgray;
 position: absolute;
 width: 900px;
 height: 1000px;
 overflow: hidden;
}

canvas.ffmachine {
 position: absolute;
 width: 900px;
 height: 1000px;
 top: 0px;
 left: 0px;
}
