doctype 5
html(lang="en", ng-app="FFMachine")
  head
    title Flip Flop Machines

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
    link(href="dlm.css", rel="stylesheet")
    link(href="home.css", rel="stylesheet")

    script(src="https://cdn.firebase.com/v0/firebase.js")
    script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    script(src="https://login.persona.org/include.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js")
    script(src="home.js")
    script(src="modules.js")

  body(ng-controller="machines")
    p.title Flip Flop Machines

    #account
      button(ng-hide="user", ng-click="login('persona')") Sign In
      button(ng-show="user", ng-click="logout()") Sign Out
      div(ng-show="user") {{user.email}}

    table
      tr.machine(ng-repeat="machine in machines", ng-class="{protected: !machine_editable(machine)}")
        td
          wiring-diagram(wires="{{machine.wiring}}")
        td.name(title="Click to rename")
          span(ng-hide="machine_editable(machine) && editing", ng-click="editing=true") {{machine.name}}
          form(ng-show="machine_editable(machine) && editing", ng-submit="editing=false; rename_machine(machine)")
            input(type="text", ng-model="machine.name", ui-keypress="{enter: 'foo()', escape: 'cancel()'}", placeholder="Name", ng-required, size=10)
        td.icons
          a.icon-eye-open(ng-href="dlm.html?name={{machine_key(machine) | encode}}&readonly=true&sync=true", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="dlm.html?name={{machine_key(machine) | encode}}&sync=true", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          .icon-trash.protect(ng-hide="machine_editable(machine)")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")
        td ({{machine_stats(machine)}})
        td(ng-show="machine.creator") Created by {{machine.creator.email}}
        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")
