doctype 5
html(lang="en", ng-app="FFMachine")
  head
    title Flip Flop Machines

    base(href=".")
    meta(charset="utf-8")

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600,900", rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")

    script(src="https://cdn.firebase.com/v0/firebase.js")
    script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    script(src="https://login.persona.org/include.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
    script(src="http://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")
    script(src="js/app.js")
    script(src="modules.js")

    link(href="ffmachine.png", rel="subresource")
    link(href="dim.html", rel="prefetch")

  body
    .ng-view
