doctype 5
html(lang="en", ng-app="FFMachine")
  head
    title Flip Flop Machines: Info

    base(href=".")
    meta(charset="utf-8")

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Abel|Open+Sans|Orbitron:400,600,900", rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")

  body#about
    include about.md
