doctype 5
html(lang="en")
  head
    title Flip Flop Machine
    meta(charset="utf-8")

    link(href="css/machine.css", rel="stylesheet")

    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
    script(type='text/javascript', src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js')
    script(type="text/javascript", src="machine.js")
    script(type="text/javascript", src="modules.js")
    script(type="text/javascript", src="loadsave.js")
    script(type="text/javascript", src="loadsave-firebase.js")

  body(onload="setup()")
    p.title Flip Flop Machine

    #frame.frame
      .ffmachine
        img(src="img/ffmachine.png", width=900, height=1000)
        svg#wirebuffer
          defs
            filter#drop-shadow
              feGaussianBlur(in="SourceAlpha", result="blur", stdDeviation="2")
              feOffset(in="blur", dx=4, dy=4, result="offsetBlur")
              feBlend(in2="offsetBlur", in="SourceGraphic", mode="normal")
            filter#drop-shadow-2
              feGaussianBlur(in="SourceAlpha", result="blur", stdDeviation="1")
              feOffset(in="blur", dx=4, dy=4, result="offsetBlur")
              feBlend(in2="offsetBlur", in="SourceGraphic", mode="normal")
            linearGradient#grad1(x1="0%", y1="0%", x2="100%", y2="0%")
              stop(offset="0%", style="stop-color:rgb(255,255,0);stop-opacity:1")
              stop(offset="100%", style="stop-color:rgb(255,0,0);stop-opacity:1")

    #connected-users
      h2 Current Viewers
      ul
