doctype 5
html(lang="en", ng-app="FFMachine")
  head
    title Flip Flop Machine
    meta(charset="utf-8")

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")
    link(href="css/machine.css", rel="stylesheet")

    script(src="https://cdn.firebase.com/v0/firebase.js")
    script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    script(src="https://login.persona.org/include.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
    script(src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js")

    script(src="machine.js")
    script(src="modules.js")
    script(src="simulator-app.js")
    script(src="simulator.js")

  body(ng-controller="MachineSimulatorCtrl", ng-class="{'edit-mode': mode == 'edit', 'simulation-mode': mode == 'simulate'}")
    include partials/toolbar
      .btn-group
        button.btn.btn-default(ng-hide="editable", ng-disabled="mode == 'view'", ng-click="mode = 'view'") View
        button.btn.btn-default(ng-show="editable", ng-disabled="mode == 'edit'", ng-show="editable", ng-click="mode = 'edit'") Edit
        button.btn.btn-default(ng-disabled="mode == 'simulate'", ng-click="mode = 'simulate'") Simulate
      .btn-group
        a.icon-step-forward.btn.btn-default(ng-disabled="simulatonRunning", ng-click="stepSimulation()")
        a.icon-play.btn.btn-default(ng-disabled="simulationRunning", ng-click="runSimulation()")
        a.icon-stop.btn.btn-default(ng-disabled="!simulationRunning", ng-click="stopSimulation()")
        //- a.icon-pause.btn.btn-default(ng-show="mode == 'simulate'", ng-disabled="!simulaton_running")

    .content
      .col-md-8
        h1
          a(href=".") Flip Flop Machines
          | &nbsp;» {{machine.name}}

        #frame.frame
          .ffmachine
            img(src="img/ffmachine.png", width=900, height=1000)
            #loading
            svg#wirebuffer
              defs
                filter#drop-shadow
                  feGaussianBlur(in="SourceAlpha", result="blur", stdDeviation="2")
                  feOffset(in="blur", dx=4, dy=4, result="offsetBlur")
                  feBlend(in2="offsetBlur", in="SourceGraphic", mode="normal")
                filter#drop-shadow-2
                  feGaussianBlur(in="SourceAlpha", result="blur", stdDeviation="1")
                  feOffset(in="blur", dx=4, dy=4, result="offsetBlur")
                  feBlend(in2="offsetBlur", in="SourceGraphic", mode="normal")
                linearGradient#grad1(x1="0%", y1="0%", x2="100%", y2="0%")
                  stop(offset="0%", style="stop-color:rgb(255,255,0);stop-opacity:1")
                  stop(offset="100%", style="stop-color:rgb(255,0,0);stop-opacity:1")

      .col-md-4
        #connected-users
          h3 Current Viewers
          ul(ng-repeat="viewer in machine.connected") {{viewer}}

        #legend
          h3 Voltage Key
          .pull-right.negative-voltage -3V
          .pull-right.float-voltage float
          .pull-right.ground-voltage ground
