.machine-details(ng-show="machine")
  h1
    {{machine.name}} Machine

  wiring-diagram.big-diagram(wires="{{machine.wiring}}", width="270", height="300")

  table.machines
    tr.machine
      tr
        th Name
        td.name {{machine.name}}

      tr(ng-show="machine.creator")
        th Creator
        td {{machine.creator.email}}

      tr(ng-show="machine.created_at")
        th Created At
        td {{machine.created_at | date}}

      tr
        th
        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")

  section.history(ng-show="machine.history")
    h2 History
    table
      tr
      tr(ng-repeat="history in machine.history | orderBy:'modified_at':true | limitTo:1")
        td
          wiring-diagram(wires="{{history.wiring}}", width="180", height="200")
        td
          div edited by {{history.user}}
          div.
            at
            {{history.modified_at | date:'mediumTime'}},
            {{history.modified_at | date:'mediumDate'}}
