.machine-details(ng-show="machine")
  h1
    {{machine.name}} Machine

  //- wiring-diagram.big-diagram(wires="{{machine.wiring}}", width="360", height="400")

  table.machines
    tr.machine
      tr(ng-show="machine.creator")
        th Author
        td {{machine.creator.email}}

      tr(ng-show="machine.created_at")
        th Created At
        td {{machine.created_at | date}}

      tr(ng-show="machine.modified_at")
        th Modified At
        td {{machine.modified_at | date}}

      tr(ng-show="machine.deleted_at")
        th Deleted At
        td {{machine.deleted_at | date}}

      tr
        th
        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")

  section.history(ng-show="machine.history")
    h2 History

    div.pull-left(ng-repeat="history in machine.history | objectToList | orderBy:'-modified_at' | limitTo:10")
      div.pull-left(ng-show="$index", style="width: 30px; font-size: 30pt; position: relative; bottom: -60px")
        | &#8592;
      div.pull-left
        wiring-diagram(width="162", height="180", wires="{{history.wiring}}", previous_wires="{{history.previous_wiring}}")
        .caption(style="font-size: small")
          div.
            edited at
            {{history.modified_at | date:'mediumTime'}},
            {{history.modified_at | date:'mediumDate'}}
          div  by {{history.user}}
