.machine-list

  h1 Flip Flop Machines

  #account
    button(ng-hide="user", ng-click="login('persona')") Sign In
    button(ng-show="user", ng-click="logout()") Sign Out
    div(ng-show="user") {{user.email}}

  table.machines
    tr
      td.pull-right
        | Search:
        input(ng-model="searchText")
    tbody.machine(ng-repeat="machine in machines | objectToList | propertyNot:'deleted_at' | filter:searchText", ng-class="{protected: !machine_editable(machine)}")
      tr
        td.name(title="Click to rename")
          span(ng-hide="machine_editable(machine) && editing", ng-click="editing=true") {{machine.name}}
          form(ng-show="machine_editable(machine) && editing", ng-submit="editing=false; rename_machine(machine)")
            input(type="text", ng-model="machine.name", ui-keypress="{enter: 'foo()', escape: 'cancel()'}", placeholder="Name", ng-required, size=10)

        td.icons
          a.icon-eye-open(ng-href="dlm.html?name={{machine_key(machine) | encodeURIComponent}}&readonly=true&sync=true", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="dlm.html?name={{machine_key(machine) | encodeURIComponent}}&sync=true", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
          a.icon-info-sign(ng-click="show_details = !show_details")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          .icon-trash.protect(ng-hide="machine_editable(machine)")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")

        td
          | ({{machine_stats(machine)}})

        td(ng-show="machine.creator")
          | Created by {{machine.creator.email}}

        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")

      tr(ng-show="show_details")
        td
          wiring-diagram.pull-right(wires="{{machine.wiring}}", width="270", height="300")
        td(colspan="4")
          table
            tr(ng-show="machine.creator")
              th Author
              td {{machine.creator.email}}

            tr(ng-show="machine.created_at")
              th Created At
              td {{machine.created_at | date}}

            tr(ng-show="machine.modified_at")
              th Modified At
              td {{machine.modified_at | date}}

            //- tr(ng-show="machine_viewers(machine)")
            //-   th Viewers
            //-   td(ng-repeat="viewer in machine_viewers(machine)")
            //-     | {{viewer.email}}
