.machine-details(ng-show="machine")
  h1
    {{machine.name}} Machine

  wiring-diagram.big-diagram(wires="{{machine.wiring}}", width="360", height="400")

  table.machines
    tr.machine
      tr
        th Name
        td.name {{machine.name}}

      tr(ng-show="machine.creator")
        th Creator
        td {{machine.creator.email}}

      tr(ng-show="machine.created_at")
        th Created At
        td {{machine.created_at | date}}

      tr
        th
        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")

  section.history(ng-show="machine.history")
    h2 History
    //- p.legend
    //-   | From most recent to oldest. Added wires are
    //-   = ' '
    //-   ins thicker
    //-   | . Deleted wires are
    //-   del translucent
    //-   | .
    table
      tr
      tr(ng-repeat="history in machine.history | objectToList | orderBy:'-modified_at' | limitTo:10")
        td
          wiring-diagram(width="162", height="180", wires="{{history.wiring}}", previous_wires="{{history.previous_wiring}}")
        td
          div edited by {{history.user}}
          div.
            at
            {{history.modified_at | date:'mediumTime'}},
            {{history.modified_at | date:'mediumDate'}}
