mixin editable-name
  span.title.machine-name(ng-show="!editMachineNameMode && !machine_editable(machine)") {{machine.name}}
  span.title.machine-name(ng-show="!editMachineNameMode && machine_editable(machine)", ng-click="editMachineNameMode=true", title="Click to edit") {{machine.name}}
  //- input.machine-name(ng-show="editMachineNameMode", type="text", ng-model="machine.name", ui-keyup="{enter: 'editMachineNameMode=false', 27: 'editMachineNameMode=false'}", ui-event="{blur: 'editMachineNameMode=false'}")
  input.machine-name(ng-show="editMachineNameMode", type="text", value="{{machine.name}}", ui-keyup="{enter: 'saveMachineName(machine, $event)', 27: 'editMachineNameMode=false'}", ui-event="{blur: 'editMachineNameMode=false'}")

.machine-list
  include partials/toolbar
    .search
      span Search:
      input(ng-model="searchText", placeholder="machine name")
    a.icon-list(ng-class="{active: layout == 'list'}", ng-click="layout = 'list'")
    a.icon-th-large(ng-class="{active: layout == 'grid'}", ng-click="layout = 'grid'")
    //- a.icon-th(ng-class="{active: layout == 'grid'}", ng-click="layout = 'grid'")
    h1 Machines

  #message(ng-show="message")
    p(ng-bind-html-unsafe=" message")

  .container(ng-hide="machines")
    .jumbotron
      h1
        i.icon-spinner.icon-spin.icon-large
        | &nbsp;Loading machine list…

  table.machines.list(ng-show="layout == 'list'")
    tbody.machine(ng-repeat="machine in machines | objectToList | propertyNot:'deleted_at' | filter:searchText | orderBy:'isTemplate'", ng-class="{protected: !machine_editable(machine)}")
      tr
        td.name.machine-name(title="Click to rename")
          mixin editable-name

        td.icons
          a.icon-eye-open(ng-href="{{machine_url(machine)}}", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="{{machine_url(machine)}}", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
          //- a.icon-info-sign(ng-click="show_details = !show_details")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          .icon-trash.protect(ng-hide="machine_editable(machine)")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")

        td
          | ({{machine_stats(machine)}})

        td(ng-show="machine.creator")
          | Created by {{machine.creator.email}}

        td
          ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': '1 viewer.', 'other': '{} viewers.'}")

  .machines.grid(ng-show="layout == 'grid'")
    .machine(ng-repeat="machine in machines | objectToList | propertyNot:'deleted_at' | orderBy:'isTemplate' | filter:searchText", ng-class="{protected: !machine_editable(machine)}")
      .titlebar(style="width:100%")
        mixin editable-name
        .buttons(ng-hide="editMachineNameMode")
          a.icon-trash.protect(ng-click="delete_machine(machine)", ng-show="machine_editable(machine)", title="Delete '{{machine.name}}'")
          a.icon-copy(ng-click="duplicate_machine(machine)", title="Make a copy of '{{machine.name}}'")
          a.icon-eye-open(ng-href="{{machine_url(machine)}}", ng-hide="machine_editable(machine)", title="View '{{machine.name}}' (changes won't be saved)")
          a.icon-edit.protect(ng-href="{{machine_url(machine)}}", ng-show="machine_editable(machine)", title="Edit '{{machine.name}}'")
      a(ng-href="{{machine_url(machine)}}")
        wiring-diagram(wires="{{machine.wiring}}", width="270", height="300")
      .description {{machine.description}}
      .caption
        div(ng-show="machine.creator")
          | Created by {{machine.creator.email}}

        div(ng-show="machine.created_at")
          | Created at {{machine.created_at | date}}

        div(ng-show="machine.modified_at")
          | Modified on {{machine.modified_at | date}}

        ng-pluralize(count="machine_viewers(machine).length", when="{'0': '', 'one': 'One viewer.', 'other': '{} viewers.'}")
